/* CUSTOM CSS */

body {
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}


/* HEADER */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

nav.bg-dark {
    background-color: #2c3143 !important;
    height: 65px;
    padding: .5rem 0;
    overflow: hidden;
    color: white;
}

.logo {
    font-size: 30px;
    margin: 0 10px 0 20px;
    color: #fff;
}

.logo-text {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    vertical-align: super;
}

.navbar.row .col-8 {
    color: #d1d1dd;
    /* color: #717691; */
}

.notification {
    font-size: 25px;
    margin: 0 20px;
    vertical-align: middle;
}

.profile-pic img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-options-toggle {
    font-size: 10px;
    padding: 0 30px 0 0;
}

.profile-name {
    font-size: 18px;
    color: #656c85;
    padding: 0 12px;
    padding-top: 0;
}


/*  SIDE MENU */

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1.8px solid #eef1f9;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #aeb2c1;
    display: block;
}

.sidenav a.active {
    color: #ffa59a;
}

.sidenav a:hover {
    color: #000;
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 60px;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1.8px solid #eef1f9;
    font-size: 15px;
}

.side-menu .side-menu-footer {
    font-size: 16px;
    color: #aeb2c1;
    font-size: 14px;
    color: #aeb2c1;
    position: absolute;
    bottom: 80px;
    width: 100%;
    padding: 10px 20px;
}

.side-menu .side-menu-header {
    padding: 10px 20px;
    border-bottom: 1.8px solid #eef1f9;
    text-transform: uppercase;
    font-size: 16px;
    color: #aeb2c1;
}

.side-menu .side-menu-list {
    padding-top: 20px;
}

.side-menu a {
    padding: 10px 8px 10px 20px;
    text-decoration: none;
    color: #aeb2c1;
    display: block;
}

.side-menu a.active {
    color: black;
    font-weight: 600;
    background: #fff9f6;
}

.side-menu a:hover {
    color: #000;
}


/* HOME */

#home {
    margin-left: 310px;
    padding: 30px 20px;
    padding-top: 95px;
}

.add-btn {
    background-image: linear-gradient(to right, #ff8498, #ffbf9a);
    padding: 10px 35px;
    color: white;
    position: absolute;
    right: 30px;
    top: 100px;
    font-size: 14px;
}

.content-box {
    padding: 25px;
    margin-top: 25px;
    background-color: white;
}

.select-label {
    padding: 5px 0;
    font-size: 15px;
    color: grey;
    margin-top: 20px;
}

select.form-control {
    color: lightgrey;
    border-color: lightgrey;
    width: 100%;
}

.component-frame {
    padding: 15px;
}

.component-name {
    color: gray;
}

.component-delete {
    float: right;
    cursor: pointer;
}

.component-input:disabled {
    background: white;
}

.component-input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
}

.component-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray;
}

.component-input::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray;
}

.component-input:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray;
}

.component-input:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray;
}

.no-comp-contaner {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    color: lightgray;
}

.no-comp-icon {
    font-size: 80px;
}

.no-comp-title {
    color: darkgray;
    font-weight: bold;
    padding: 20px 0;
}

.no-comp-text {
    padding: 0px 80px 50px;
}


/*  MODAL */

.modal.show {
    display: block;
    background-color: rgba(93, 98, 122, 0.7);
}

.modal.show .modal-dialog {
    margin-top: 150px;
    min-width: 50%;
}

.modal-content {
    padding: 50px;
    text-align: center;
}

.modal-body i {
    color: lightgray;
    font-size: 80px;
}

.modal-body .btns {
    display: flex;
    justify-content: center;
}

.modal-body button {
    width: 200px;
    height: 40px;
    font-size: 14px;
}

.modal-body button.btn-secondary {
    background-color: #f3f3f9;
    border-color: #f3f3f9;
    color: grey;
}

.modal-body button.btn-primary {
    background-color: #ff6677;
    border-color: #ff6677;
}